*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #464866;
}

.timeline{
    min-height: 100vh;
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    z-index: 1;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1.25s linear forwards;
    opacity: 0;
    z-index: 10;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s;
}

.container:nth-child(2){
    animation-delay: 1s;
}

.container:nth-child(3){
    animation-delay: 2s;
}

.container:nth-child(4){
    animation-delay: 3s;
}

.container:nth-child(5){
    animation-delay: 4s;
}

.text-box{
    padding: 20px 30px;
    color:#fff;
    background-color: #363538;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    font-family: 'Fira Code', monospace;
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.image-container {
    z-index: 3;
}

.container img{
    background-color: #fff;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: -30px;
    top: 32px;
    z-index: 3;
}

.right-container img{
    left: -30px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    animation: moveline 4s linear forwards;
    z-index: 1;
}

@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;
    margin-bottom: 5px;
}

.text-box h3{
    margin-bottom: 5px;
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.text-box p{
    margin-bottom: 15px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

.more-button {
    display: inline-block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: 2px solid #464866;
    color: #464866;
    background-color: white;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 15px;
}

.more-button:hover{
    background-color: #464866;
    color: white;
}

.hidden-text {
    display: none;
}

.hidden-text--show {
    display: inline-block;
}

@media screen and (max-width: 1000px){
    .timeline{
        margin: 50px auto;
        margin-top: 120px;
    }

    .timeline::after{
        left: 31px;
    }

    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box{
        font-size: 13px;
    }

    .text-box small{
        margin-bottom: 10px;
    }

    .text-box p{
        margin-bottom: 10px;
    }    

    .right-container{
        left: 0;
    }

    .left-container img,
    .right-container img {
        left: 10px;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px #fff solid;
        border-left: 0;
        left: -15px;
    }
}