.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}

.education {
    display: grid;
    grid-template-areas:
      'name empty'
      'image content';
    grid-template-columns: 1fr 1fr;
    gap: 0px; 
    margin-bottom: 100px;
}
  
.name {
    grid-area: name;
    background-color: #25274D;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}
  
.empty {
    grid-area: empty;
}
  
.education .image {
    grid-area: image;
    background-color: #363538;
    border-radius: 0 0 0 10px;
}

.education .image img {
    height: 100%;
    width: auto;
    border-radius: 0 0 0 10px;
}

.content {
    grid-area: content;
    background-color: #363538;
    color: white;
    padding: 10px;
    border-radius: 0 10px 10px 0;
}
