body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.boxes {
    display: flex;
    justify-content: center;
}

.education {
    align-items: center;
    width: 80%; 
    background-color: #f8f8f8; 
    border-radius: 10px;
    overflow: hidden;
}

.name {
    background-color: #464866; 
    color: #fff; 
    width: 50%;
    height: 2rem;
    text-align: center;
    text-justify: center;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
}

.content {
    overflow: hidden;
    background-color: #363538;
    border-radius: 0 10px 0 0;
    box-sizing: border-box;
}

.content img {
    width: 50%; 
    aspect-ratio: 4 / 3;
    float: left;
}

.content .about {
    width: 45%; 
    float: left;
    color: #fff;
    margin-right: 3%;
    margin-left: 2%;
}
