.hello {
    margin-top: 70px;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hand {
    display: inline-block;
    padding-right: 2%;
}

.emoji {
    font-size: 5em;
    animation: waving-hand 2.5s infinite;
    transform-origin: center;
}

@keyframes waving-hand {
    0% { 
        transform: rotate(0deg); 
    }
    10% { 
        transform: rotate(14deg); 
    }
    20% { 
        transform: rotate(-8deg); 
    }
    30% { 
        transform: rotate(14deg); 
    }
    40% { 
        transform: rotate(-4deg); 
    }
    50% { 
        transform: rotate(10deg); 
    }
    60% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(0deg); 
    } 
}

.Judson {
    display: inline-block;
}

.j-text {
    font-size: 5em;
    letter-spacing: 10px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(16),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent; }
}

@keyframes typing {
    from { width: 0}
}

.im {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.im .text {
    position: relative;
    color: #808080;
    font-size: 3em;
}

.im .text.first {
    color: #000
}

.text.second:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-left: 2px solid #000;
    animation: type 4s steps(12) infinite;
}

@keyframes type {
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}