/* landing */

.hello {
    margin-top: 70px;
    height: 30vh;
    min-height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hand {
    display: inline-block;
    padding-right: 2%;
}

.emoji {
    font-size: 5em;
    animation: waving-hand 2.5s infinite;
    transform-origin: center;
}

@keyframes waving-hand {
    0% { 
        transform: rotate(0deg); 
    }
    10% { 
        transform: rotate(14deg); 
    }
    20% { 
        transform: rotate(-8deg); 
    }
    30% { 
        transform: rotate(14deg); 
    }
    40% { 
        transform: rotate(-4deg); 
    }
    50% { 
        transform: rotate(10deg); 
    }
    60% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(0deg); 
    } 
}

.Judson {
    display: inline-block;
}

.j-text{
    font-size: 5em;
    letter-spacing: 10px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(16),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent; }
}

@keyframes typing {
    from { width: 0}
}

.im {
    height: 20vh;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.im .text {
    position: relative;
    color: #29648A;
    font-size: 3em;
}

.im .text.first {
    color: #000
}

.text.second:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    border-left: 2px solid #000;
    animation: type 4s steps(12) infinite;
}

@keyframes type {
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

.more {
    height: 50vh;
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.more a {
    position: relative;
    font-size: 2em;
    text-decoration: none;
    color: #000;
}

.more img {
    width: 50px;
    height: 50px;
}

.more a::after {
    content: '';
    height: 2px;
    width: 100%;
    background: #000;
    display: block;
    position: absolute;
    left: 0;
    bottom: 50px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.more a:hover::after {
    opacity: 1;
}

/* About Me */

.about-me {
    display: flex;
    height: 100vh;
    min-height: 500px;
}
  
.slide-in.left {
    flex: 1;
    background-color: #29648A;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    width: 40%;
    border: 10px solid transparent;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1; 
    margin: 10% 5% 10% 10%;
    transform: translateX(-100%);
}

.slide-in.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
  
.slide-in.right {
    flex: 1;
    background-color: #363538;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    width: 40%;
    border: 10px solid transparent;
    padding: 0;
    border-radius: 10px;
    color: #fff;
    padding: 10px; 
    aspect-ratio: 1; 
    margin: 10% 10% 10% 5%;
    transform: translateX(100%);
}

.slide-in.right p { 
    text-align: left;
}
  
.slide-in.left,
.slide-in.right {
    overflow: hidden;
    transition: transform 1000ms ease-in;
}

.slide-in.left.appear,
.slide-in.right.appear {
    transform: translateX(0);
} 

/* Quick Links */
  
.quick-links {
    display: flex;
    height: 15rem;
    justify-content: center;
    align-items: center;
}
  
.quick-button {
    display: inline-block;
    padding: 20px 40px;
    margin: 50px;
    text-align: center;
    background-color: #29648A;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
  
.quick-button:hover,
.quick-button:focus {
    background-color: #363538;
}

/* Resume */

.resume-shell{
    min-height: fit-content;
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.resume {
    width: 90%;
    aspect-ratio: 11/8.5;
}

@media screen and (max-width: 1000px){

    .about-me {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slide-in.left,
    .slide-in.right {
        width: 90%;
        margin: 10% 10% 10% 10%;
    }

    .quick-links {
        height: auto;
        flex-direction: column;
    }
}