*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #464866;
}

/* Project Section */

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
    min-height: 100vh;
    margin-top: 70px;
}

#projects a {
    color: #fff;
    text-decoration: none;
}

.project-heading {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.project-heading h3 {
    font-size: 3rem;
    color: #fff;
}

.project-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    flex-wrap: wrap;
    margin: 20px;
}

.project-filter li {
    margin: 10px;
    padding: 5px 20px;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    user-select: none;
}

.project-filter-active {
    background-color: #363538;
    color: #fff;
}

.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    padding: 15px;
    background-color: #363538;
    border: 1px solid #000;
    margin: 20px;
}

.project-box h2 {
    margin-bottom: 10px;
}

.project-box img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-box:hover,
.project-box:focus {
    width: 340px;
}
