html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #f8f8f8; 
    margin: 0;
}

/* Scroll */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000;
}

/*Menu Items*/

.menu {
    width: 100%;
    height: 70px;
    background-color: #808080;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

.menu img {
    width: 50px;
    height: 50px;
}

.menu-home {
    width: 25%;
}

.menu-home ul {
    list-style: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
}

.menu-home ul li {
    display: inline;
}

.menu-home img {
    border-radius: 50%;
    margin: 10px 0px;
}

.menu-pages {
    width: 50%;
}

.menu-pages ul {
    list-style: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
}

.menu-pages ul li {
    display: inline;
}

.menu-socials {
    margin-right: 1%;
    width: 25%;
}

.menu-socials ul {
    list-style: none;
    margin: 10px 0px;
    display: flex; 
    justify-content: center; 
}

.menu-socials ul li {
    display: inline;
    margin: 0 10px;
}

.menu-link {
    padding: 0px 10px;
    font-size: 16px;
    text-decoration: none;
    line-height: 70px;
    color: #fff;
    display: block;
    position: relative;
    transition: all 0.4s;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 100%;
    background: #fff;
    display: block;
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.menu-link.word::after { 
    left: 0;
    bottom: 0px;
}

.menu-link.image::after {
    left: 0;
    bottom: 20px;
}

.menu-link.image-head::after {
    left: 0;
    bottom: 30px;
}

.menu-link:hover::after,
.menu-link:focus::after {
    opacity: 1;
}

/* Footer */

footer {
    background-color: #808080; 
    padding: 20px; 
    position: relative; 
    z-index: 100;
}

.footer-socials {
    text-align: center; 
    padding-bottom: 20px;
}

.footer-socials ul {
    list-style: none; 
    padding: 0; 
}

.footer-socials li {
    display: inline-block; 
    margin: 0 10px; 
}

.footer-socials img {
    width: 50px; 
    height: 50px; 
}


.footer-text {
    text-align: center; 
    color: white; 
    position: absolute; 
    bottom: 20px; 
    left: 0; 
    width: 100%; 
}

/* Filler */

.site{
    height: 100vh;
}